*,
*:after,
*:before{
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
    color: #585858;
    font-weight: 400;
    
}

h1,h2,h3,h4,h5,h6,button{
    padding: 0;
    margin: 0;
}   


.img{
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

/* Container */


.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;

}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    /* width: 100%;     */
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
     z-index: 1000;
      
}

.header-inner {
    display: flex;
    height: 85px;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    height: 100%;
    font-weight: 400;
}

.nav__link {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 400;
    
}


.nav__link.active {
    background-color: #004AF2;
    
}


/* Intro */



.intro{
    height: 600px;
    background: url("../css/imgas/bg.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
}

.intro-content{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.intro-text{
    text-align: right;
    margin-bottom: 40px;
}

.intro-text-desc{
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.intro-text-title{
    position: relative; 
    font-size: 30px;
    font-size: 110px;
    color: rgba(255, 255, 255, .80);
    line-height: 100px;
    font-family: 'Lato', sans-serif;
    
}

.amp{
    font-size: 170px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    bottom: 50;
}

/* Form */

.request-form{
    width: 100%;
    width: 400px;
    border-radius: 10%;
    /* background-color: #004AF2; */
    margin-bottom: -30px;
}

.request-form-header{
    padding: 20px 30px;
    background-color: #033FC9;
}

.request-from-header-title{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.request-form-header-text{
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;

}

.request-form-content{
    background-color: #004AF2;
    padding: 30px;
}

.form-group{
    margin-bottom: 30px;
    position: relative;
    
}

.form-group img{
    position: absolute;
    left: 20;
    bottom: 14;
}

.form{
    margin: 0;
}


.form-group input{
    
    display: block;
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size:16px ;
    font-family: 'PT Sans', sans-serif;
    padding: 11px 50px;
}



.form-group input::placeholder{
    color: #fff;
    font-size:16px ;
    font-family: 'PT Sans', sans-serif;
}

.input:focus{
    outline: none;
    border-bottom-color: #fff ;
}

.btn{
    display: block;
    width: 100%;
    height: 45px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
    border: none;
    border-radius: 5px;
    transition: transfrom linear .4s;
    transition: background-image linear .7s;
}

.btn:hover{
    transform: scale(1.03);
    background-image: linear-gradient(to left, #FF903E, #FF2C2C);

}

/* Services */

.section{
    padding: 60px 0;
}

.services{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 28px 49px 84px 41px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}


.service-main-title{
    position: absolute;
    right: 30px;
    bottom: 12px;
    z-index: 1;

    font-size: 90px;
    font-family: 'Lato' ,sans-serif;
    font-weight: 900;
    line-height: 1;
    color: rgba(44, 44, 44, .05);
}
.service-item{
    display: flex;
    flex-direction: column;
    width: 240px;
    /* height: 188px; */
    z-index: 2;
}

.service_title{
    color: #2C2C2C;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.service_text p{
    color: #585858;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}


.service-footer{
    margin-top: auto;
}
.service_link{
    color: #004AF2;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: background-color linear .3s;
    margin-top: auto;
}


.service_link:hover{
    color: #FF3E2F;
    
}



.service_link::after{
    content: "";
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 2px;
    width: 10px;
    background-color: #004AF2;
    transition: width linear .2s;
}

.service_link:hover:after{
    width: 72px;
    background-color: #FF3E2F;

}

.section_title{
    font-size: 45px;
    font-family: 'Lato' , sans-serif;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.section_title span{
    color: #004AF2;
}

.section--map{
    background: url("../css/imgas/map.svg") no-repeat left 30px top 130px  ;
}

.clients{
    display: flex;
}

.clients_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients_list li{
    margin-right: 40px;
    margin-bottom: 40px;
}
.clients_logos{
    width: 60%;
    margin-bottom: 60px;
}

.clients_reviews{
    
    width: 486px;
}

.btn2{
    width: 212px;
    height: 45px;
    border-radius: 5px;
    background-image:linear-gradient(to right, #FF903E, #FF2C2C) ;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'PT Sans' , sans-serif;
    border: 0;
    vertical-align: middle;
}


.clients-love{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #464646;
    margin-left: 40px;
}

/* Reviews */



.reviews_header{
    position: relative;
    padding-left: 121px;
    min-height: 100px;
    margin-bottom: 30px;
   
}

.reviews-header-content{
    padding-top: 10px;
    padding-left: 21px;
    flex-grow: 1;
}


.reviews_photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* border: 5px solid #fff; */
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16); */
    width: 100px;
    height: 100px;
    /* background-color: grey; */
    /* border-radius: 50%; */
}

.reviews_name{
    font-family: 'Lato' , sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}

.reviews_company{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2C2C2C;
}

.reviews_content p{
    font-size: 15px;
    font-family: 'PT Sans' , sans-serif;
    line-height: 1.8;
    color: #585858;
    margin-bottom: 20px;
}

.first_p{
    text-indent: 20px;
}

/* .reviews_content{
    width: 480px;
} */



/* Benefits */

.benefits{
    display: flex;
}

.benefits_content{
    width: 50%;
}

.benefits_item:not(:last-child){
    margin-bottom: 35px;
}

.benefits_list{
    position: relative;
    /* margin-left: 10px; */
    padding-left: 40px;
    background: linear-gradient(to bottom , #fff 40%, #A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top -4px;
}

.benefits_item{
    width: 315px;
}

.benefits_title{
    margin-bottom: 12px;
    font-family: 'Lato' , sans-serif;
    font-size: 21px;
    font-weight: 900;
    color: #2C2C2C;
}

.benefits_text{
    font-size: 15px;
    font-family: 'PT Sans' , sans-serif;
    color: #585858;
}

.benefits_list:after, 
.benefits_list:before{
    content: "";
    display: block;
    width: 26px;
    height: 36px;
    z-index: 1;

    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.benefits_list::after{
    background: url("../css/imgas/pin-start.png");
    display: block;
    top: -30px;
}

.benefits_list::before{
    background: url("../css/imgas/pin-end.png");
    bottom: -34px;
}


/* Team */


.team_title{
    font-family: 'Lato' , sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #2C2C2C;
    margin-bottom: 50px;
}

.team_title span{
    color: #004AF2;
}

.team_members{
    display: flex;
    justify-content: space-between;
}

/* .member_photo{
    box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
} */

.member_name{
    font-family: 'Lato' , sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 5px;
}


.member_position,
.member_email,
.member_number{
    color: #585858;
    font-family: 'PT Sans' , sans-serif;

}

.member_position{
    font-size: 15px;
    margin-bottom: 11px;
}

.member_email,
.member_number{
    font-size: 14px;
    margin-bottom: 9px;
}

.member_email{
    margin-left: 27px;
    position: relative;
    
}

.member_email img{
    position: absolute;
    left: -27px;
    top: 5px;
}

.member_number{
    margin-left: 27px;
    position: relative;
}

.member_number img{
    position: absolute;
    left: -27px;
    top: 5px;
}

/* Mission */


.mission{
    position: relative;
    top: -45px;
    padding: 60px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .16);
    text-align: center;
    margin-bottom: 30px;
}

.mission:before,
.mission::after{
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;
    position: absolute;
    bottom: 0;

}

.mission:before{
    background-color: #004AF2;
    right: 50%;
}

.mission::after{
    background-color: #FC2C2B;
    left: 50%;
}

.mission_title{
    color: #004AF2;
    font-family: 'Lato' , sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.mission_subtitle{
    font-family: 'PT Sans' , sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.btn3{
    width: 212px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #FF903E , #FF2C2C);
    font-family: 'PT Sans' , sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    
}

.mission-main-title{
    font-family: 'Lato' , sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgba(0, 0, 0, .05);
    text-transform: uppercase;
    text-align: center;
}


/* News */

.news-main_title{
    font-size: 45px;
    font-family: 'Lato' , sans-serif;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 50px;
}

.news-main_title span{
    color: #004AF2;
}

.news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.new-item{
    max-width: 500px;
}

.new-title{
    font-weight: 700;
    font-size: 18px;
    color: #2C2C2C;
    margin-bottom: 15px;
}

.new-text p{
    font-size: 15px;
    color: #585858;
}

.new-date{
    color: #6E6E6E;
    font-size: 12px;
}

.btn4{
    width: 161px;
    
    height: 45px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #FF903E , #FF2C2C);
    font-family: 'PT Sans' , sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

/* Footer */


.footer{
    margin-top: 30px;
    background-color: #F9F9F9;
    padding: 40px 0;
    text-align: center;

    background-image: url("../css/imgas/track-1.png") , url("../css/imgas/track-2.png");
    background-repeat: no-repeat;
    background-position: left 2px bottom 5px , right 2px  bottom 5px;

}

.footer_logo{
    margin-bottom: 25px;
}

.footer_addresses{
    margin-bottom: 25px;
}
.footer_addresses p{
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    color: #585858;
    margin: 0;
}

.footer_addresses a{
    text-decoration: none;
    color: #585858;
}

.footer_addresses a:hover{
    text-decoration: underline;
}


.footer_nav a{
    color: #004AF2;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
    
}


.modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

#thanksModal {
    display: none;
}

.show{
    display: flex;
}

.modal-inner{
    width: 400px;
    padding: 25px;
    background-color: #E8E8E8;
    position: relative;

}

.modal_title{
    color: #004AF2;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lato' , sans-serif;
    text-align: center;
    line-height: 1.2;
    margin: 10px;
}

.modal_subtitle p{
    color: #2C2C2C;
    font-size: 15px;
    font-family: 'PT Sans' , sans-serif;
    text-align: center;
    margin: 0;

}

.modal_subtitle{
    margin-bottom: 29px;
}

.input.input--dark{
    color: #2C2C2C;
    border-bottom-color: #b4afaf;
}

.input.input--dark:focus{
    border-bottom-color: #000;
}

.input.input--dark::placeholder{
    color: #2C2C2C;
}

.modal_footer{
    padding: 25px 0 0 0;
    text-align: center;
    line-height: 0;
    border-top: 1px solid #E8E8E8;
}

.btn.modal--btn{
    margin-bottom: 20px;
    
}


.modal_footer_title{
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Lato' , sans-serif;
    padding-bottom: 15px;
    
}

.modal_footer_addresses p{
    color: #2C2C2C;
    font-size: 15px;
    font-family: 'PT Sans' , sans-serif;
    font-style: normal;
    padding-bottom: 8px;
}

.modal_footer_addresses a{
    text-decoration: none;
    color: #2C2C2C;
}

.modal_footer_addresses a:hover{
    text-decoration: underline;
}

.close_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20;
    right: -30;
    border: none;
    background: none;
    transition: transform linear .2s;
}

.close_btn:hover{
    transform: rotate(90deg);
}

.modal-icon{
    width: 68px;
    height: 68px;
    text-align: center;
}


.modal-header{
    text-align: center;
    border-bottom: 1px solid #b8b0b0;
}

.modal-icon{
    margin:  auto ;
}


/* Blog */




.intro.intro--blog{
    height: 350px;
    background:  #000 
    url("../css/imgas/news-intro.jpg") no-repeat 
    center;
    background-size: cover;
}


/* Main */

.main{
    display: flex;
}

.main__col{
    width: 50%;
}

.news.news--column{
    flex-direction: column;
}


.news.news--column
.new-item{
    max-width: none;
    margin-bottom: 45px ;
}

.btn-blog{
    padding: 11px 44px;
    
    border-radius: 5px;
    background: linear-gradient(to right , #FF903E, #FF2C2C);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Sans' , sans-serif;
    text-decoration: none;
    
}

.news.news--column
.new-item:last-child{
    margin-bottom: 0px;
}

.request-form.request-form--blog{
    border-radius: 5px;
    margin-left: auto;
}


/* POlicy Page */

.intro.intro--policy{
    height: 350px;
    background: url("../css/imgas/policy-intro.svg") no-repeat center;
    background-size: cover;
}


.some-info{
    max-width: 890px;
    font-size: 18px;
    color: #585858;
    line-height: 1.5;
    margin-bottom: 50px;

}
.some-info p{
    margin-bottom: 20px;
}

.some-info h2,
.some-info h3,
.some-info h4,
.some-info h5,
.some-info h6{
    margin-bottom: 20px ;
    color: #2C2C2C;
}

.some-info h2{
    font-size: 27px;
}

.some-info h3{
    font-size: 24px;
}

.some-info h4{
    font-size: 21px;
}

.some-info h5{
    font-size: 18px;
}

.some-info h6{
    font-size: 15px;
}

.some-info ul,
.some-info ol{
    margin-bottom: 20px;
}

.btn-blog.btn--policy{
    margin-top: 50px;
}

.btn-policy{
    width: 194px;
    padding: 11px 44px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    font-family: 'PT Sans' , sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, #FF903E, #FF2C2C);
    border-radius: 5px;
    margin-top: 50px;

}

